export(Round)
export(Res2Txt)
export(txtNCA)
export(pdfNCA)
export(rtfNCA)
importFrom("utils", "packageDescription", "packageVersion")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "axis", "close.screen", "lines", "par", "plot", "points", "screen", "split.screen", "text")
import("rtf")
import("NonCompart")
